@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300');
@import '../abstract/variables';
@import '../abstract/mixins';

.topnav {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
  padding: 0 16px;
  
  &.primary-navbar {
    background-image: url('../img/banner_background3.png');
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &.secondary-navbar {
    margin-top: 90px;
    background-color: rgba(0, 0, 0, 0.95);
    height: 80px;
    padding: 0.4vh;
    @include sticky-navbar(25px);

    @include mobile() {
      @include sticky-navbar(40px);

      .head-container{
        a.icon{
          top: 10px;
          
        }

        .options-container{
          .search-container{
            top: 25px;
          }
      }
    }
  }
}

  &.tertiary-navbar {
    background-color: rgba(0, 0, 0, 0.95);
    height: 80px;
    padding: 0.4vh;
    @include sticky-navbar(25px);

    @include mobile() {
      @include sticky-navbar(40px);

      .head-container{
        a.icon{
          top: 1px;
          
        }

        .options-container{
          .search-container{
            top: 10px;
          }
      }
    }
  }
  }

 

  .head-container {
    @include flex-container(row, space-between, center);
    margin-top: auto;

    .logo-container {
      display: flex;
      align-items: flex-start;
      padding: 0px 5px;

      img {
        height: 70px;
        object-fit: cover;
      }
    }

    .icon {
      display: none;
    }

    .options-container{
      @include flex-container(row, flex-end, center);
      margin-right: 10px;


    .menu-container {
      @include flex-container(row, flex-end, center);

      a {
        @include flex-container(row, center, center);
        gap: 5px;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px;

        &:hover {
          text-decoration: underline;
          background-color: rgba(0, 0, 0, 0.2);
          color: #f2f2f2;
        }
      }

      a.active {
        background-color: rgba(214, 211, 211, 0.2);
        color: white;
      }

   
    }

       // Search bar container with animation
       .search-container {
       
        padding: 0px 5px;
        margin-right: 10px;
        padding: 5px 10px;
        position: relative; // Fijo en modo no responsive

        form {
          @include flex-container(row, center, center);
          position: relative;
          text-align: center;

          input[type="text"] {
            padding: 6px;
            font-size: 17px;
            border: none;
            width: 0;
            background: #f1f1f1;
            border-radius: 10px;
            opacity: 0;
            display: none;
            transition: all 0.3s ease;
          }

          button {
            @include flex-container(row, center, center);
            padding: 6px 10px;
            background-color: rgba(0, 0, 0, 0.2);
            color: white;
            font-size: 17px;
            border: none;
            cursor: pointer;
            border-radius: 50%;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #333;
            }
          }
        }
      }

      .search-container.active {
        

        input[type="text"] {
          display: block;
          width: 80%;
          opacity: 1;
          padding: 6px;
          font-size: 17px;
          border: none;
          background: #f1f1f1;
          height: 25px;
        }
      }

  }
}

@include mobile(){
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 8px;
    height: 670px;

    .head-container {
      .logo-container {
        a{
        img {
          height: 60px;
        }
      }
      }

      a.icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
        padding: 10px;
        color: white;
        border-radius: 50%;
        position: absolute;
        top: 45px;
        right: 16px;
      }

      &:hover {
        background-color: rgba(61, 59, 59, 0.9);
      }

      .options-container{
        @include flex-container(row, flex-end, center);

      .menu-container {
        a:not(.icon) {
          display: none;
        }

        &.responsive {
          @include flex-container(column, flex-start, flex-end);
          background-color: black;
          position: absolute;
          top: 75px;
          padding: 5px;
          width: 100%;
          height: auto;
          right: 0;

          a:not(.icon) {
            @include flex-container(row, flex-end, center);
            gap: 5px;
            text-align: right;
            padding: 10px 16px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            font-size: 14px;
            font-weight: 500;
          }

          a.icon {
            position: absolute;
            right: 16px;
            top: 0;
          }
        }

        // Posicionamiento fijo del icono de búsqueda en responsive
   
      }

      .search-container {
        position: absolute;
        right: 36px;
        top: 55px; // Fijo en responsive para que no se mueva
        width: auto; // Para evitar que se estire

        button {
          padding: 6px 10px;
          background-color: rgba(0, 0, 0, 0.2);
          color: white;
          font-size: 17px;
          border: none;
          cursor: pointer;
          border-radius: 50%;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #333;
          }

          svg {
            font-size: 20px;
          }
        }

      }

      .search-container.active {
        position: absolute;
        padding: 10px;
        width: 100%;
        @include flex-container(row, center, center);
        margin: 0 auto;
        background-color: black;
        right: 0;
        z-index: 1000;

        input[type="text"] {
          display: block;
       
          width: 100%;
          opacity: 1;
          padding: 6px;
          font-size: 17px;
          border: none;
          background: #f1f1f1;
          height: 25px;
        }
      }

    }

    }
  }
}

